<h1>Compare crypto currencies</h1>

<p>Compare the price of two crypto currencies</p>

<form>
	Crypto 1: 
	<select class="form-select" aria-label="Default select example">
	  <option selected>Open this select menu</option>
	  <option value="1">One</option>
	  <option value="2">Two</option>
	  <option value="3">Three</option>
	</select>

	Crypto 2: 
	<select class="form-select" aria-label="Default select example">
	  <option selected>Open this select menu</option>
	  <option value="1">One</option>
	  <option value="2">Two</option>
	  <option value="3">Three</option>
	</select>


	<button class="btn btn-primary">Get exchange rate</button>

</form>

<div class="alert alert-danger" role="alert">
  A simple danger alert—check it out!
</div>

<h2>1 ETH = USD 20</h2>
