<h1>Crypto to fiat</h1>

<p>Find the current price of various cryptocurrencies in various fiat currencies</p>

<form>
	Crypto: 
	<select class="form-select" aria-label="Default select example">
	  <option selected>Open this select menu</option>
	  <option value="1">One</option>
	  <option value="2">Two</option>
	  <option value="3">Three</option>
	</select>

	Fiat currency:
	<select class="form-select" aria-label="Default select example">
	  <option selected>Open this select menu</option>
	  <option value="1">One</option>
	  <option value="2">Two</option>
	  <option value="3">Three</option>
	</select>


	<button class="btn btn-primary">Get price</button>

</form>

<div class="alert alert-danger" role="alert">
  A simple danger alert—check it out!
</div>

<h2>1 ETH = USD 20</h2>
