<h1>Crypto to fiat</h1>

<p>Find the current price of various cryptocurrencies in various fiat currencies</p>

<%= form_with url: "/local", method: :get do |form| %>
	Crypto ticker (e.g. BTC): 
  <%= form.text_field :crypto, class: "form-check-input", value: params[:crypto] %>

	Fiat currency (e.g. USD):
  <%= form.text_field :fiat, class: "form-check-input", value: params[:fiat] %>

	<button class="btn btn-primary">Get price</button>

<% end %>

<%= render 'errors' %>

<h2>1 ETH = 20</h2>
