// Place all the styles related to the pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

@import "bootstrap-sprockets";
@import "bootstrap";

h1{
	margin-top: 100px;
}

#logo{
	color: #444444;
	font-size: xx-large;
	margin-top: 10px;
	margin-bottom: 10px;
	display: inline-block;	
}

nav{
	float: right;
    display: inline-block;
    margin-top: 6px;
}